body
{
	width: 100%;
        height:auto;
	margin: auto;
	margin-bottom: 20px;
	background: fixed url('../img/CCbackground.jpg') center center no-repeat;
	background-color: rgb(50,150,200);
	background-size: 100% 100%;
	font-family: Teacher;
	font-size: 1.2em;
}
/*************************
	banniere du site
*************************/
header
{
	margin: auto;
	width: 900px;
	height: 150px;
	background: url('../img/banniere2.jpg') center center no-repeat;
	background-size: 100% 100%;
	opacity: 0.9;
	border-radius: 0px 0px 10px 10px;
	
}
.header-mobile{
    display: none;
}
/**********************
	menu du site
***********************/
#menu
{
	opacity: 0.9;
	margin: auto;
	width: 800px;
	height: 25px;
	text-align: center;
	background: rgb(70,30,10);
	font-style: oblique;
	color: olive;
	border: 1px outset red;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}
#menu a:link
{
	text-shadow: 2px 2px 2px #555;
}
#menu a:hover
{
	font-weight: bold;
}
#menu div
{
	width: 20%;
	float: left;
	text-align: center;
}

#menu div.beyond{
	width: 15%;
}
/**************************
	corps du site
**************************/
#corps
{
	width: 80%;
	min-height: 600px;
	margin: auto;
	margin-top: 10px;
	font-family: Georgia;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10%;
	background: rgb(70,30,10);
	opacity: 0.9;
	color: orange;
	border: 1px outset transparent;
	border-radius: 10px;
}

#corps img
{
	width: 50px;
	height: 50px;
}

#corps .container
{
	width: 100%;
	height: 100%;
}
/****************************
	pied de page du site
****************************/
footer
{
	margin-right: 1%;
	text-align: right;
	vertical-align: bottom;
	font-style: italic;
	font-family: Teacher;
}
/*********************
	liens du site
*********************/
a
{
	text-decoration: none;
	color: olive;
        font-size: 1.4em;
}
a:hover
{
    color: olive;
    text-shadow: 2px 2px 2px #555;
} 
/******************************
	autres détails du site
******************************/
#bio img
{
	width: 100px;
	height: 100px;
}
#bio h1, #bio p
{
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
}
#bio h3
{
	text-align: right;
	padding-right: 10%;
}
fieldset{
	padding: 10px;
        border-radius: 10px;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
}
.sousligne
{
	text-decoration: underline;
}
iframe{
	border: 0;
	allowTransparency: true;
	scrolling: no;
	width: 80%;
}
#sdroit
{
	width:30px;
	-webkit-transform: rotate(90deg);
	display: inline-block;
}
#sgauche
{
	width:30px;
	-webkit-transform: rotate3d(3,3,0,180deg);
	display: inline-block;
}
table{
	margin-left: auto;
	margin-right: auto;
}
.lm{
	font-size: small;
	color: red;
}

.table-search{
    width: 80%;
}
.table-search td{
    width: 40%;
    padding-bottom: 5px;
}
.table-search select, .table-search input{
    width: 100%;
}

.hide{
	display: none;
}

#pp_full_res iframe{
	width: 100%;
}

.video, .video_ohm{
	width: 30%;
	border: 1px;
	border-color: red;
	border-style: solid;
	border-radius: 10px;
	display: inline-block;
	margin: 5px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
}

fieldset{
	background: rgb(45,25,10);
}

.video a, .video_ohm a{
	display: block;
	width: 100%;
	height: 75px;
	margin-top:5px;
        overflow:hidden;
}
.info_clip{
	width: inherit;
	height: 25px;
	background: rgba(45,25,10,0.8);
	padding:3px;
	border-radius: 5px;
}
.year_clip{
    display: none;
}

.pp_deadLink a{
	width: 30px; 
	height: 30px; 
	background: url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat; 
	cursor: pointer;
}

#beyond{
	color: black;
}
#beyond:hover{
	text-decoration: none;
	cursor:default ;
	text-shadow: none;
}

/*
*   bootstrap
*/
.table th {
   text-align: center;   
}
select[multiple]{
	width: 15%;
}
select[multiple] option{
	padding: 3px;
}

fieldset legend{
	width: auto;
	margin-bottom: 3px;
	border: none;
	color: inherit;
}
h3{
        margin-bottom: 30px;
}

/*
*   responsive
*/
@media only screen and (max-width: 850px) {
    #container{
        position: absolute;
        transition-duration: 0.3s;
        transform: translateX(0px); 
        width: 100%;
    }
    #corps #container{
        height: 100%;
    }
    #corps{
        -webkit-overflow-scrolling: touch;
    }
    
    .side-menu {
        overflow: hidden;
        background-size: contain;
    }
    .side-menu #container {
        transform: translateX(150px); 
    } 
    .side-menu #site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(20, 20, 20, 0.7); 
    }
    
    header{ display: none; }
    .header-mobile{
        position: static;
        display: block;
        height: 36px;
        color: olive;
        background: rgb(70,30,10);
        width: 100%;
    }
    .header__icon {
        position: inherit;
        display: block;
        float: left;
        width: 36px;
        height: 36px;
        cursor: pointer; 
    }
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      left: 10px;
      box-shadow: 0 9px 0 2px green, 0 18px 0 2px yellow, 0 27px 0 2px red; 
    }
    .header__text{
        vertical-align: -12px;
        font-size: 1.2em
    }
    
    #menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 1;
        -webkit-overflow-scrolling: touch;
        background-color: rgb(70,30,10);
        width: 150px;
        height: 100%;
        transform: translateX(-150px); 
    }
    /* Un lien par ligne */
    #menu div {
        display: block;
        height: 40px;
        width: 150px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid red; 
    }    
    
}