body
{
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	background: fixed url('../img/CCbackground.jpg') center center no-repeat;
	background-color: rgb(50,150,200);
	background-size: 100% 100%;
	font-family: Teacher;
	font-size: 1.2em;
}
/*************************
	banniere du site
*************************/
header
{
	margin: auto;
	width: 900px;
	height: 150px;
	background: url('../img/banniere2.jpg') center center no-repeat;
	background-size: 100% 100%;
	opacity: 0.9;

	border-radius: 0px 0px 10px 10px;
	
}
/**********************
	menu du site
***********************/
#menu
{
	opacity: 0.9;
	margin: auto;
	width: 800px;
	height: 25px;
	text-align: center;
	background: rgb(70,30,10);
	font-style: oblique;
	color: olive;
	border: 1px outset red;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}
#menu a:link
{
	text-shadow: 2px 2px 2px #555;
}
#menu a:hover
{
	font-weight: bold;
}
#menu div
{
	width: 20%;
	float: left;
	text-align: center;
}

#menu div.beyond{
	width: 15%;
}
/**************************
	corps du site
**************************/
#corps
{
	width: 80%;
	min-height: 600px;
	margin: auto;
	margin-top: 10px;
	font-family: Georgia;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10%;
	background: rgb(70,30,10);
	opacity: 0.9;
	color: orange;
	border: 1px outset transparent;
	border-radius: 10px;
}

#corps img
{
	width: 50px;
	height: 50px;
}

#corps .container
{
	width: 100%;
	height: 100%;
}
/****************************
	pied de page du site
****************************/
footer
{
	margin-right: 1%;
	text-align: right;
	vertical-align: bottom;
	font-style: italic;
	font-family: Teacher;
}
/*********************
	liens du site
*********************/
a
{
	text-decoration: none;
	color: olive;
        font-size: 1.4em;
}
a:hover
{
    color: olive;
    text-shadow: 2px 2px 2px #555;
} 
/******************************
	autres détails du site
******************************/
#bio img
{
	width: 100px;
	height: 100px;
}
#bio h1, #bio p
{
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
}
#bio h3
{
	text-align: right;
	padding-right: 10%;
}
fieldset{
	border-color: red;
	border-radius: 10px;
}
.sousligne
{
	text-decoration: underline;
}
iframe{
	border: 0;
	allowTransparency: true;
	scrolling: no;
	width: 80%;
}
#sdroit
{
	width:30px;
	-webkit-transform: rotate(90deg);
	display: inline-block;
}
#sgauche
{
	width:30px;
	-webkit-transform: rotate3d(3,3,0,180deg);
	display: inline-block;
}
table{
	margin-left: auto;
	margin-right: auto;
}
.lm{
	font-size: small;
	color: red;
}

.hide{
	display: none;
}

#pp_full_res iframe{
	width: 100%;
}

.video, .video_ohm{
	width: 30%;
	border: 1px;
	border-color: red;
	border-style: solid;
	border-radius: 10px;
	display: inline-block;
	margin: 5px;
}

.video:hover{
	background: rgb(45,25,10);
	/*background: rgb(70,30,10);*/
}
.video_ohm:hover{
	background: rgb(70,30,10);
}

fieldset{
	background: rgb(45,25,10);
}

.info_clip{
	display: block;
	width: inherit;
	
}

.pp_deadLink a{
	width: 30px; 
	height: 30px; 
	background: url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat; 
	cursor: pointer;
}

/*
*   bootstrap
*/
.table th {
   text-align: center;   
}